services:
  backend:
    build: ./backend
    container_name: urlshortener-backend
    ports:
      - "8081:8081"
    networks:
      - app-net

  nginx:
    image: nginx:1.25
    container_name: urlshortener-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./frontend:/usr/share/nginx/html
    depends_on:
      - backend
    networks:
      - app-net

  mysql:
    image: mysql:8.0
    container_name: urlshortener-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: urlshortener
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

volumes:
  mysql_data:
