spring:
  application:
    name: urlshortener

  h2:
    console:
      enabled: true
      path: /h2-console
      # H2 Console 접속 URL → http://localhost:8080/h2-console

  datasource:
    # H2 인메모리 DB 접속 URL
    # H2 Console에서 입력해야 하는 JDBC URL: jdbc:h2:mem:urlshortener
    url: jdbc:h2:mem:urlshortener
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  cache:
    type: simple