shortener:
  base-url: "http://sho.rt"

server:
  port: 8081

spring:
  application:
    name: urlshortener

  datasource:
    url: jdbc:mysql://mysql:3306/urlshortener
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  cache:
    type: simple
